<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共</title>
</head>
<body>
<head th:fragment="head">
    <meta charset="UTF-8">
    <!-- 适应移动端 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/Semantic-UI-CSS-master/semantic.min.css" th:href="@{/Semantic-UI-CSS-master/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="../static/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
</body>
</html>